<div class="modal-header">
    <h2 class="modal-title">TERMS OF USE</h2>
</div>
<div class="modal-body">
  <p>
    The following are our terms of service that govern our website. Please read through them. If you do not agree with them, please dont use this website.
  </p>
  <p>
    THE ACCESS AND USE OF THIS WEBSITE IS NOT ALLOWED TO ANY PERSONS CONSIDERED UNDER-AGE. THE PURCHASE OF OUR PRODUCTS AND SERVICES IS ONLY ALLOWED TO THOSE WHO HAVE ATTAINED THE LEGAL AGE.
  </p>
  <p>
    BY SUBMITTING AN ORDER AND/OR PAYMENT, YOU ACKNOWLEDGE THAT YOU HAVE READ AND UNDERSTOOD THESE TERMS AND CONDITIONS AND YOU ALSO AGREE TO BE LEGALLY BOUND BY THESE TERMS AND CONDITIONS, WHICH FORM THE ENTIRE AGREEMENT BETWEEN YOU AND US.
  </p>

  <h3>Interpretation</h3>
  We use the following terms as follows:
  <ol>
    <li>
      <strong>Product - </strong>
      an original essay, paper, and/or other written product,
      which is drafted and delivered to the customer in accordance with their order.
    </li>
    <li>
      <strong>Order - </strong>
      means a written order of a standard electronic form,
      filled and submitted on-line by the customer to our website.
      Order specifies the scope of work and other requirements of the
      customer regarding the product.
    </li>
  </ol>

  <h3>Refund Policy</h3>
  You are entitled to a refund under the following conditions:
  <ol>
    <li><span> Full Refund if claimed before delivery order </span></li>
    <li><span> 50% Refund if claimed within 4 – 5 days after delivery </span></li>
    <li><span> No refund if claimed after 7 days after delivery </span></li>
  </ol>
  To claim your refund, please send as an email and it will takes 5 – 7 days to process it.

  <h3>Copyright and Personal Use</h3>
  The services and products we offer are completely original.
  The full copyright pertaining to our services and products and other
  materials delivered is retained by us.

  <h3>No Plagiarism</h3>
  Customers acknowledge that we reserves the
  right to cancel any order or agreemant made with
  any person who condones and or attempts to pass plagiarized products as
  original. You also agree that any product delivered by us
  may not be passed to third parties, nor distributed in any way for
  payment or for any other purpose. You also acknowledge that if we
  suspects that the delivered product has been distributed or used
  by you in any form of plagiarism, we reserve the right to refuse
  to carry out any further work and services for you.

  <h3>Warranties</h3>
  By submitting an order and/or payment, customers acknowledge
  that You are in complete understanding and agreement with the
  statements above, as well as each of the following:
  <ol>
    <li><span> All products are provided solely as examples for research,
    reference, and/or for the purposes of learning how to write a paper
    in a proper manner and in a particular citation style (MLA,
    APA, Chicago, Turabian, Harvard, etc.). </span></li>
    <li><span> All products are acquired from freelance writers who
    transfer all rights and ownership to the company and/or its
    affiliates and partners. </span></li>
    <li><span> Aside from a reasonable number of copies for personal,
    non-commercial use, you may not otherwise reproduce, distribute,
    publish, transmit, modify, display or create derivative works from
    or exploit the products and/or contents of this website without the
    prior written consent of the company. </span></li>
    <li><span> You agree to destroy all delivered products immediately after
    your research/reference use of the material is complete. No copies
    shall be made for distribution, and no parts of any product shall
    be used without proper citation. </span></li>
    <li><span> Any information and/or ideas used from the product
    must be properly cited.</span></li>
  </ol>

  <h3>Warranty Disclaimer</h3>
  WE MAKE NO REPRESENTATIONS OR WARRANTIES WITH REGARD TO THE
  WEBSITE OR ANY MATERIALS HEREIN, WHETHER EXPRESS OR IMPLIED,
  ARISING BY LAW OR OTHERWISE, INCLUDING, WITHOUT LIMITATION, ANY
  IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
  PURPOSE OR NON-INFRINGEMENT OR ANY IMPLIED WARRANTY ARISING OUT
  OF COURSE OF PERFORMANCE, COURSE OF DEALING OR USAGE OF TRADE.
  IN ADDITION, WE MAKE NO REPRESENTATION THAT THE OPERATION
  OF THE SERVICE OR WEBSITE WILL BE UNINTERRUPTED OR ERROR-FREE. WE
  WILL NOT BE LIABLE FOR THE CONSEQUENCES OF ANY INTERRUPTIONS
  OR ERRORS ON THE WEBSITE. IT IS YOUR RESPONSIBILITY TO EVALUATE THE
  ACCURACY, COMPLETENESS, OR USEFULNESS OF ANY OPINION, ADVICE, INFORMATION,
  OR OTHER CONTENT PROVIDED IN CONNECTION WITH THE SERVICE OR OTHERWISE
  AVAILABLE THROUGH THE WEBSITE. PLEASE SEEK THE ADVICE OF PROFESSIONALS,
  AS APPROPRIATE, REGARDING THE EVALUATION OF ANY SUCH OPINION, ADVICE,
  INFORMATION OR OTHER CONTENT.

  <h3>Limitation of Liability</h3>
  IN NO EVENT SHALL WE BE LIABLE FOR ANY DIRECT, INDIRECT,
  PUNITIVE, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR
  IN ANY WAY CONNECTED WITH THE USE OF THIS WEBSITE OR ANY INFORMATION PROVIDED
  ON THIS WEBSITE. BECAUSE SOME STATES OR JURISDICTIONS DO NOT ALLOW THE EXCLUSION
  OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE
  LIMITATION MIGHT NOT APPLY TO YOU.

  <p>
    
  </p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancel()">OK, got it!</button>
</div>