<div class="modal-header">
    <h3 class="modal-title">PRIVACY POLICY</h3>
</div>
<div class="modal-body">
    The following are the privacy policies that govern our website. Please read through them.
    <h3>Personal Information</h3>
    When you signup in our site, we collect the following information; Names, Address, telephone numbers, Email address and Country. The information provided will never be disclosed to a third party.
    This information will be used for the following purposes
    <ol>
        <li><span> Authorizing payments or sending bills to you </span></li>
        <li><span> Maintaining account with us </span></li>
        <li><span> Updating you about our website or any changes made to us </span></li>
    </ol>
    <h3>Cookies</h3>
    Are text files that that are stored in your browser while browsing through the site. You are at liberty to change the setting of your browser to enable it accept all cookies. You can also choose not to accept cookies. If you choose this option, you will be unable to access some parts of the site.
    <h3>Security</h3>
    We endeavour to protect data provided to us from Misuse, loss of data alternation of information under us.
    <h3>Change of Policy</h3>
    Changes of our privacy are bound to change as we continue to improve our site so that we can make a better environment for our users. We therefore urge you to constantly visit our privacy policy page to check if there are any changes on our policies.
    <h3>Disclosures Prohibited</h3>
    Use of information acquired from employers or employees
    pursuant to this article shall be for the exclusive use
    and information of the commissioner in the discharge of his
    or her duties hereunder. It shall not be open to the public,
    nor be used in any court in any action or proceeding pending
    therein, unless the commissioner is a party to such action or
    proceeding, notwithstanding any other provisions of law. Such
    information insofar as it is material to the making and
    determination of a claim for benefits, shall be available
    to the parties affected and, at the commissioner’s discretion,
    may be made available to the parties affected in connection with
    effecting placement.
    <h3>Contact</h3>
    If you have any questions regarding our privacy policy, contact us through our contact page.
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancel()">OK, got it</button>
    
</div>